# Virtual environment
.venv/
env/
venv/

# Byte-code files
*.pyc
__pycache__/

final_results/
firecrawl_results/
precrawl_results/
prompts/
serpai_folder/
user_response/
# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database files (if using local SQLite or similar)
*.sqlite3
*.db

# Environment variables
.env
.flaskenv

# Log files
*.log

# Build artifacts
dist/
build/
*.egg-info/